.section1{
    width: 100vw;
    max-width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: red;

}


.section2{
    width: 100vw;
    max-width: 100%;
    height: 550px;
    position: relative;
    /*top: calc(550px * 1);*/

}

.section3{
    width: 100vw;
    max-width: 100%;
    height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-color: #676b89;
}


.bgimage {
    position: absolute; /* Position the images absolutely within the container */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the images cover the container */
  }
  
  
  
  
  
  