.maleHuman {
  position: absolute;
  z-index: 100;
  left: -650px;
  top: 225px;

}

.femaleHuman {
  position: absolute;
  z-index: 100;
  left: -750px;
  top: 225Px;
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.4s ease-in-out;
}

#image1 {
  background-image: url(images/Male-15.png);
}

#image2 {
  background-image: url(images/Female-1.png);
}

.text-woodbench-description {
  text-align: center;
  /* Center horizontally */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
  height: 100%;
  /* Make sure the container takes up the full height of its parent */
  /* display: inline-block; */
  /* Make the container size fit its content */
  /* background-color: #be6464; */
  /* Background color */
  padding: 00px;
  /* Add padding for spacing */
  margin: 70px;
  /* Add margin to create space around the background */
}

.text-heading-categories {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  top: 30%;
}
.fieldset {
  border: 1px solid #000;
}

#info-block section {
  border: 3px solid black;
}

.file-marker > div {
  padding: 0 3px;
  height: 50px;
  margin-top: -0.8em;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}
.box-title {
  /* background: white none repeat scroll 0 0; */
  display: inline-block;
  padding: 0 2 200 2px;
  margin-left: 1em;
  margin-top:3em;
}