section {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.image-1 {
   background-image: url('./images/gameview_auto_x2-transformed.jpeg');
}

.image-2 {      
    background-image: url('./images/gameview33.jpg');   
}

/*
.image-3 {

   background-image: url('./images/gameview2_auto_x2_colored_toned-transformed.jpeg');
    
}

*/

.image-4 {
    background-image: url('./images/first_auto-transformed22.jpeg');
}



.mainSec1 {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    overflow: hidden;
}




.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px !important;
    object-fit: cover;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.logo {
    display: flex;
    height: 220px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    top: -50px;



}

.logoImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
    

}

.logoImage img{
    width: 750px;
    height: 350px;
}

.section1-gameLogo {
    height: 100%;

    width: 50%;

}

.img-fluid-google {
    width: 318px;
    height: 136px;

}

.img-fluid-apple {
    width: 277px;
}


.section1-buttonContainer {
    display: flex;
    height: 150px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 130px;


}

.section1-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  
    width: 300px;
    margin-right: 60px;
    object-fit: fill;
}

.section1-button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
   
    width: 300px;
    object-fit: fill;
}


@media (max-width: 768px) {

   

    .logoImage img{

        width: 100%;
        height: auto;
    }
    
    .logo,
    .section1-buttonContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .section1-gameLogo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section1-buttonContainer {
        top: 0;
        justify-content: center;
        width: 100%;

    }

    .section1-button1{
        margin: 0;
    }

   




}

**********************************************

.image-4 {
    position: relative;
}



